* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #0a0a0a;
}
header {
  border-bottom: 1px solid #eab308;
  padding: 0 40px;
}
.hero {
    height: 100vh !important;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

nav ul{
    display: flex;
    list-style:none;
    gap: 40px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
nav ul li a:hover{
    color: #eab308;
    transition: 0.3s;
}
.btn-contato{
    padding: 5px 15px;
    border: 2px solid #eab308;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    transition: 0.3s;
}
.btn-contato:hover{
    background-color: #eab308;
    color: #0a0a0a;
}
nav img {
    height: 90px;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 80vh;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-content h1{
    color: white;
    font-size: 6rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: -30px;
}
.hero-content h2{
    color: white;
    font-size: 8rem;
    font-weight: 800;
    line-height: 1;
}
.hero-content h1{
    color: #eab308;
    display: block;
}
.hero-content p{
    color: #eab308;
    font-size: 2rem;
    font-weight: 500;
}
.hero-links{
    display: flex;
    gap: 20px;
}
.hero-links a{
    color: #eab308;
    font-size: 3rem;
    text-decoration: none;
    padding: 5px;
    background-color: transparent ;
    transition: 0.3s;
    border-radius: 50%;
    border: 1px solid #0a0a0a;

}
.hero-links a:hover{
    background-color: transparent;
    color: #eab308;
    border: 1px solid #EAB308;

}
.hero-image img{
    width: 600px;
}
/* sobre */
.about{
    background-color: #1a1a1a;
    padding: 80px 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
}
.section-title{
    color: white;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 40px;
}
.section-title span{
    color: #eab308;
}
.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 60px;
}
.about-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.about-text p{
    color: #cccccc;
    font-size: 1.2rem;
}
.about-text strong {
    color: white;
    font-weight: 700;
}
.about-location {
    color: #eab308 !important;
    font-weight: 600;
}
.about-image img:hover {
    width: 400px;
    border-radius: 12%;
    border: 2px solid #eab308;
    
}
.about-image img {
    width: 400px;
    transition: 0.9s;
    border: 2px solid transparent;
    border-radius: 10%;
}
.about-cards{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.card{
    flex: 1;
    background-color: #1a1a1a;
    border: 1px solid #EAB308;
    border-radius: 12px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s;
}
.card i{
    font-size: 1.5rem;
    color: #0a0a0a;
    background-color: #eab308;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.card h3{
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}
.card p{
    color: #cccccc;
    font-size: 1rem;
    line-height: 1.6;
}
/* projetos */
.projects {
    background-color: #1a1a1a;
    padding: 80px 0;
}
.section-subtitle {
    color: #cccccc;
    font-size: 1.2rem;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 60px;
}
.projects-grid{
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
}
.project-card{
    flex: 1;
    background-color: #0a0a0a;
    border: 1px solid #EAB308;
    border-radius: 12px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s;
}
.project-card:hover{
    transform: translateY(-5px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.project-card h3 {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}
.project-card p {
    color: #cccccc;
    font-size: 0.9rem;
    line-height: 1.6;
    flex: 1;
}
.project-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.tag{
    background-color: #1a1a1a;
    border-radius: 20px;
    border: 1px solid #242424;
    color: white;
    font-size: .8rem;
    font-weight: 500;
    padding: 5px 15px;
}
.project-card button{
    width: 100%;
    padding: 12px;
    background-color: #1a1a1a;
    color: #cccccc;
    border: solid 1px #242424;
    border-radius: 10px;
    font-size: 1rem;
    cursor: not-allowed;
    margin-top: auto;
}
.projects-footer {
    text-align: center;
    color: #cccccc;
    font-size: 0.9rem;
    line-height: 1.6;
}
/* habilidades */
.skills {
    background-color: #0a0a0a;
    padding: 80px 0;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 60px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.skill-card {
    background-color: #1a1a1a;
    border: 1px solid #EAB308;
    border-radius: 12px;
    padding: 30px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    transition: 0.3s;
}
.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.skill-card img {
    width: 60px;
    height: 60px;
}
.skill-card h3 {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}
.skill-card p {
    color: #cccccc;
    font-size: 0.9rem;
    line-height: 1.6;
}
/* contato */
.contact {
    padding: 80px 0;
}
.contact-content {
    display: flex;
    margin-top: 60px;
    gap: 40px;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-item {
    display: flex;
    align-items: center;
    gap: 20px;

}
.contact-icon{
    width: 50px;
    height: 50px;
    background-color: #eab308;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #0a0a0a;
    flex-shrink: 0;
}
.contact-item h3{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}
.contact-item p{
    color: #cccccc;
    font-size: 0.9rem;
    line-height: 1.6;
}
.contact-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-group label {
    color: white;
    font-size: 0.95rem;
    font-weight: 500;
}
.form-group input,
.form-group textarea{
    background-color: #1a1a1a;
    border: 1px solid #242424;
    border-radius: 5px;
    padding: 14px 16px;
    color: white;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}
.form-group input:focus,
.form-group textarea:focus {
    border-color: #eab308;
    box-shadow: 0 0 5px #eab20883;
}
.form-group textarea{
    height: 150px;
    resize: none;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #555555;
}
.btn-enviar{
    width: 100%;
    padding: 14px;
    background-color: #eab308;
    color: #0a0a0a;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}
.btn-enviar:hover{
    background-color: transparent;
    color: #eab308;
    border: 1px solid #eab308;
}
/* footer */
footer{
    border-top: 1px solid #eab308;
    padding: 20px 40px;
    background-color: #1a1a1a;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-info h3{
    color: #eab308;
    font-size: 1.2rem;
    font-weight: 700;
}
.footer-info p{
    color: #cccccc;
    font-size: 0.9rem;
}
.footer-links{
    display: flex;
    gap: 20px;
}
.footer-links a{
    color: #aaaaaa;
    font-size: 1rem;
    text-decoration: none;
    transition: 0.3s;
}
.footer-links a:hover{
    color: #eab308;
}